.wrapper {
  text-align: center;
}

.wrapper .img {
  margin: auto;
  width: 100px;
  height: 100px;
  line-height: 80px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.wrapper .img i {
  font-size: 40px;
}

.wrapper .product {
  padding: 10px;
}

.wrapper .product h3 {
  font-weight: 500;
  color: grey;
}

.wrapper p {
  font-size: 15px;
  margin-top: 20px;
  color: grey;
}

.wbackground {
  background: #f6f9fc;
  padding: 80px 0;
  margin-bottom: 100px;
}
.wcontainer {
  max-width: 90%;
  margin: auto;
}
.wd_flex {
  display: flex;
  justify-content: space-between;
}
.wc_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wf_flex {
  display: flex;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
.wuppercase {
  text-transform: uppercase;
}
.wcapitalize {
  text-transform: capitalize;
}
.wRText {
  text-align-last: right;
}
input,
button {
  border: none;
  outline: none;
  background-color: none;
}
.wrow {
  width: 50%;
}
.wicon-circle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #f3f5f9;
  margin-left: 20px;
  text-align: center;
  border-radius: 50%;
}
.wboxShadow {
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
}

/*---------category----------*/
.wcontentWidth {
  width: 77%;
}
.wcategory {
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
  background-color: #fff;
  width: 23%;
  height: 510px;
  padding: 15px 0;
  border-radius: 5px;
  margin-top: 5px;
}
.wcategory img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  object-fit: contain;
}
.wcategory span {
  margin: 10px 20px;
  text-transform: capitalize;
}
.wcategory .box {
  transition: 0.5s;
  padding: 0 20px;
}
.wcategory .box:hover {
  background-color: #ffe1e6;
  cursor: pointer;
  border-radius: 5px;
}

/*---------category----------*/
.wtop {
  margin-top: 80px;
}
.wmtop {
  margin-top: 40px;
}
.wheading i {
  color: #e94560;
  margin: 10px;
}
.wdiscount {
  position: absolute;
  top: 0;
  left: 0;
  background: #e94560;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 50px;
  color: #fff;
  margin: 10px;
}
/*---------product-----------*/
.wproduct {
  background: #fff;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  margin: 10px;
  height: 300px;
}
.wproduct h3 {
  font-weight: 400;
  font-size: 17px;
  margin-top: 30px;
}
.wproduct .rate i {
  font-size: 15px;
  color: #ffcd4e;
  margin: 5px 5px 5px 0;
}
.wproduct .price {
  display: flex;
  justify-content: space-between;
  color: #e94560;
}
.wprice button {
  background: none;
  color: #e94560;
  font-size: 20px;
  transition: 0.5s;
  border: 1px solid rgb(3 0 71 / 9%);
  width: 35px;
  height: 35px;
  border-radius: 5px;
}
.wprice button:hover {
  cursor: pointer;
  background-color: #e94560;
  color: #fff;
}
.wproduct-like {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  opacity: 0;
  transition: 0.5s;
}
.wproduct-like label {
  background-color: #0f3460;
  padding: 1px 10px;
  font-size: 12px;
  color: white;
  border-radius: 50px;
}
.wproduct-like i {
  font-size: 20px;
  margin: 10px 3px;
}
.wproduct:hover .product-like {
  opacity: 1;
}
/*---------product-----------*/

/*----- control btn -------*/
/*----- heading -------*/
.heading .heading-left i {
  font-size: 30px;
}
.heading .heading-left h2 {
  font-size: 25px;
  margin: 5px;
}
.heading .heading-right i,
.heading .heading-right {
  text-align: right;
  color: grey;
}
/*----- heading -------*/
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}