.footer-container {
  background-color: #000000;
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.footer-a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-bottom: 20px;
  padding: 1px;
  color: #fff;
} 

.footer-a > p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.footer-a-heading {
  margin-bottom: 1px;
  font-size: 20px;
}

.footer-links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer-link-wrapper {
  display: flex;
}

.footer-link-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  text-align: left;
  width: 100px;
  box-sizing: border-box;
}

.footer-link-items h6 {
  margin-bottom: 10px;
}

.footer-link-items > h6 {
  color: #fff;
  font-size: large;
}

.footer-link-items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-size: small;
}

.footer-link-items a:hover {
  color: #ffffff;
  transition: 0.3s ease-out;
}

/* Social Icons */
.social-icon-link {
  color: #fff;
  font-size: 20px;
}

.social-media {
  max-width: 1000px;
  width: 100%;
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 100px;
  margin: 10px auto 0 auto;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  margin-bottom: 10px;
}

.social-logo {
  color: #fff;
  justify-self: start;
  margin-left: 1000px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.website-rights {
  color: #fff;
  margin-bottom: 10px;
}

@media screen and (max-width: 820px) {
  .footer-links {
    padding-top: 2rem;
  }

  .footer-input {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .footer-link-wrapper {
    flex-direction: column;
  }

  .social-media-wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
}
